<div class="map" style=""></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="cocktail-show-card-one">
        <h1><%= @cocktail.name %></h1>
        <div class="cocktail-card-image"><%= cl_image_tag @cocktail.photo, height: 180, width: 350, crop: :fill %></div>
      </div>
      <div class="cocktail-show-card">
        <h3>A bit more about this cocktail...</h3>
        <p><%#= @cocktail.dose.description %></p>
        <h3>Ingredients</h3>
        <ul class="list-unstyled">
          <% @cocktail.doses.each do |dose| %>
          <li>
            <p class="#"><i class="#"></i> <strong>Ingredient : </strong><%= dose.ingredient.name %> - <%= dose.description %>&nbsp;
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Do you really want to delete #{dose.ingredient.name}?" } do %>
            <i class="fas fa-trash-alt" style="color: grey" aria-hidden="true"></i><% end %></p>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <div class="cocktail-show-card">
        <h5>Make this Cocktail !</h5>

      </div>
      <div class="cocktail-show-card">
        <h3>Manage Ingredients</h3>
        <div class="flex">
          <div class="#">
            <%#= link_to 'Add Dose', new_cocktail_ingredient_path(@cocktail), class: "btn btn-outline-primary my-2 my-sm-0 ml-2" %>
            <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary", id: "ingredient-add-button"%>
            <%= link_to "Go back", cocktails_path, class: "btn btn-warning" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


